 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<section id="add-form" class="myLogin">
    <form class="login-form">
   <div class="field ">
  <label class="label">First Name</label>
  <div class="control">
    <input class="input is-danger" type="text" placeholder="First Name" style="width: 33%";>
  </div>
</div>

<div class="field ">
  <label class="label">Last Name</label>
  <div class="control">
    <input class="input is-danger" type="text" placeholder="Last Name" style="width: 33%";>
  </div>
</div>


<div class="field ">
  <label class="label">Email</label>
  <div class="control has-icons-left ">
    <input class="input is-danger" type="email" placeholder="emailexample@email.com" value="" style="width: 33%";>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>



<div class="field ">
  <label class="label">Title</label>
  <div class="control">
    <input class="input is-danger" type="text" placeholder="Title" style="width: 33%";>
  </div>
</div>

<div class="field ">
  <label class="label">Phone</label>
  <div class="control">
    <input class="input is-danger" type="tel" placeholder="Phone" style="width: 33%";>
  </div>
</div>

<div class="field ">
  <label class="label">Cell</label>
  <div class="control">
    <input class="input is-danger" type="tel" placeholder="Cell" style="width: 33%";>
  </div>
</div>

<div class="field ">
  <label class="label">Hire Date</label>
  <div class="control">
    <input class="input is-danger" type="text" placeholder="DD/MM/YYYY" style="width: 33%";>
  </div>
</div>

<div class="field ">
  <label class="label">DOB</label>
  <div class="control">
    <input class="input is-danger" type="text" placeholder="DD/MM/YYYY" style="width: 33%";>
  </div>
</div>

<div class="field ">
  <label class="label">Facebook Account:</label>
  <div class="control">
    <input class="input is-danger" type="text" placeholder="Facebook Account" style="width: 33%";>
  </div>
</div>

<div class="field ">
  <label class="label is-left">Twitter Account:</label>
  <div class="control">
    <input class="input is-danger" type="text" placeholder="Twitter Account" style="width: 33%";>
  </div>
</div>

<div class="field ">
  <label class="label">LinkedIn:</label>
  <div class="control">
    <input class="input is-danger" type="text" placeholder="LinkedIn" style="width: 33%";>
  </div>
</div>
</div>

  <div>
    <br>
    <button class= "button is-danger" type="submit">Submit</button>
  </div>
</form>
</section>
<script src="/Develop/public/javascript/login."></script>
