
<section id="home" class="myLogin">
    homepages.handlebars

    // For whatever reason the SESSION.loggedIn value does not exist on this page. :(
    <h2>Manage</h2>
    <li><a class="black" href="/api/address">Address</a></li>
    <li><a class="black" href="/api/employee">Employee</a></li>


<section id="home" class="myHome">

<h1> Welcome to the Employee tracker</h1>


<h4> This was a collaboration with  
    <div id="homepage">
    <ol>
       <li><a href="https://github.com/Nativeblanks">Zachary Blanks</a></li>
       <li><a href="https://github.com/DeonJeff">Deon Jefferies</a></li>
       <li><a href="https://github.com/Shelby-M">Michelle Moriarty</a></li>
       <li><a href="https://github.com/crhodes111">Connor Rhodes</a></li>
       <li><a href="https://github.com/PaulThomasWI">Paul Thomas</a></li>
</ol>
</div>
</h4>
<div id="bottom-home">
    Take a look at our <a href="https://github.com/Nativeblanks/project2">code</a> 
</div>

</section>