<section id="home" class="myLogin">
    homepages.handlebars

    // For whatever reason the SESSION.loggedIn value does not exist on this page. :(
    <h2>Manage</h2>
    <li><a class="black" href="/api/address">Address</a></li>
    <li><a class="black" href="/api/employee">Employee</a></li>
</section>