<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Card Tracker</title>
</head>
<body>
    <h2>Welcome to the Employee Card Tracker Database</h2>
    <h4>What would you like to do?</h4>
    <button>View All Employees</button>
<label for="department">View employees by department</label>
<select name="deparment" id="department">
  <option value="Human Resources">Human Resources</option>
  <option value="Finance">Finance</option>
  <option value="Technology">Technology</option>
  <option value="Legal">Legal</option>
</select>
<button>Add Employee</button>
<button>Delete Employee</button>
</body>
</html>