   <article>
      <div class="wrapper">
      <h2>Thank you for logging in </h2>
      <h4>What would you like to do?</h4>
        <nav>
        <ol>
            <li>
              <button id="view-all"> View all Employees </button>
            </li>
            <li>
              <label for="department">View employees by department</label>
                <select name="deparment" id="department">
                <option value="Human Resources">Human Resources</option>
                <option value="Finance">Finance</option>
                <option value="Technology">Technology</option>
                <option value="Legal">Legal</option>
            </select>
            </li>
        </ol>  
        </nav>
    </header>