<section id="home" class="myHome">

<h1> Welcome to the Employee tracker</h1>


<h4> This was a collaboration with  
    <div id="homepage">
    <ol>
       <li><a href="https://github.com/Nativeblanks">Zachary Blanks</a></li>
       <li><a href="https://github.com/DeonJeff">Deon Jefferies</a></li>
       <li><a href="https://github.com/Shelby-M">Michelle Moriarty</a></li>
       <li><a href="https://github.com/crhodes111">Conner Rhodes</a></li>
       <li><a href="https://github.com/PaulThomasWI">Paul Thomas</a></li>
</ol>
</div>
</h4>
<div id="bottom-home">
    Take a look at our code using the Github icon below
</div>

</section>